[submodule "fod/csc"]
	path = fod/csc
	url = https://github.com/KenthJohan/csc
[submodule "fod2/csc"]
	path = fod2/csc
	url = https://github.com/KenthJohan/csc
[submodule "fod_delta/csc"]
	path = fod_delta/csc
	url = https://github.com/KenthJohan/csc
[submodule "shared/csc"]
	path = shared/csc
	url = https://github.com/KenthJohan/csc
